<<<<<<< HEAD
/* Estilos b치sicos para tu p치gina */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}
=======
/* Estilos b치sicos para tu p치gina */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}
>>>>>>> 5345e43c58dc4d768734b17ad12be7c8eff2d97a
